/* 해더 공통 스타일 재정의 */
.intro-header {
  position: relative;
}
.intro-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.intro-header .container {
  position: relative;
  z-index: 2;
}

/* post img */
.post-container img {
  display: inline-block;
  margin: 0.5em auto;
}

.post-container h1,
.post-container h2,
.post-container h3,
.post-container h4,
.post-container h5,
.post-container h6 {
  position: relative;
  margin: 50px 0 10px;
  padding-left: 20px;
}

.post-container h1::before,
.post-container h2::before,
.post-container h3::before,
.post-container h4::before,
.post-container h5::before,
.post-container h6::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  background-color: #666;
  margin-top: -3px;
}

.container p {
  margin: 20px 0 15px;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
